section#contacts.contacts
    h3.section-title Kontaktujte nás

    .contacts__wrapper

        .contacts__wrapper--element
            h3 ADRESA
            p Washingtonova 1567/25
            p Praha 1, 110 00

        .contacts__wrapper--element
            h3 TELEFON
            a(href='tel:+420 222 232 061-2') +420 222 232 061-2
            a(href='tel:+420 222 232 661') +420 222 232 661
            a(href='tel:+420 222 232 276') +420 222 232 276

        .contacts__wrapper--element
            h3 E-MAIL
            a(href='mailto:jehne@jehnevodak.cz') jehne@jehnevodak.cz
            a(href='mailto:vodak@jehnevodak.cz') vodak@jehnevodak.cz

        .contacts__wrapper--element
            h3 BANKOVNÍ SPOJENÍ
            p GE Money Bank, a.s.
            p 4124438504/0600

        .contacts__wrapper--element
            h3 FAX
            p +420 222 230 052

        .contacts__wrapper--element
            h3 POVINNÉ ÚDAJE
            p IČ: 66219094
            p DIČ: CZ6709151977

    form#contact-form.contacts__form

        h3 Napište nám

        input.contacts__form--field(id='contact-name',
        type='text', name='name',
        placeholder='Jméno a příjmení',
        minlength='2', maxlength='20' required)

        input.contacts__form--field(id='contact-email',
        type='text', name='email',
        placeholder='E-mail',
        minlength='5', maxlength='20' required)

        input.contacts__form--field(id='contact-phone',
        type='text', name='phone',
        placeholder='Telefon',
        minlength="5", maxlength='20' required)

        textarea.contacts__form--text(id="contact-text",
        name='message', minlength='2', maxlength='250',
        placeholder='Text Vaší zprávy' required)

        input.contacts__form--submit(id='contact-submit', type='submit', value='ODESLAT')